$negro: rgb(0, 0, 0);
//seccion azul
$section2-color-blue: #2d46b9;
$section2-color-green: #1ed760;
$section2-background-image: url("https://www.scdn.co/i/projectRamses/LiE_circles.svg");
$section2-margin-bottom: 20px;
$color-base-naranja: #ff4632; 
$color-boton: #000000;
$color-blanco: #FFFFFF;
